@import 'vars.scss';
@import 'colors.scss';
@import 'layout.scss';
@import 'header.scss';
@import 'nav.scss';
@import 'login.scss';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a,
p,
h1,
h2,
h3,
h4,
h5 h6,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
